body{
    background-color: black;
    color: white;

    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0 50px 0 50px;

    background-color: #1f2937;
    color:white;
}
header h1{
    font-size: 24px;
    color: #f9faf8;
}

#navbar{
    display: flex;
    align-items: center;
}

#navbar a{
    padding: 5px;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
} 

.flex-container-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 450px;
    background-color: #1f2937;
    
}

.image{
    background-color: gray;
    padding: 100px 200px 100px 200px;
}

.flex-container-1 h1{
    font-size: 48px;
    font-weight: 800;
}
.flex-container-1 button{
    background-color: #3882f6;
    color: white;
}
.flex-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;

    background-color: white;
    color: black;
}
.flex-container-2 h1{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.gallery{
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
    margin: auto;

    width: 1000px;
    height: auto;
    
}
.gallery img{
    border: 1px solid #3882f6;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
.gallery p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

    background-color: #e5e7eb; 
}

.flex-container-3 p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.flex-container-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;

    background-color: white;
}

.border{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #3882f6;
    border-radius: 5px;
    background-color: #3882f6;
    width: 500px;
    padding: 25px 300px 25px 300px;
}
.border button{
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: #1f2937;
}